{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #8A6EB1;
        }
    </style>

<h1>Vous avez un nouveau contact</h1>

<br />Nom: {{nom}}
<br />Sujet: {{sujet}}
<br />Message:
<br />{{message | nl2br }}

{% endapply %}